{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel = "stylesheet" href="{%static 'css/style.css'%}"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>HEllo</title>
</head>

<body class="background">

    <div class="topbar">

        <inline><a href ="/"><h1>Home</h1></a></inline>
        <inline><a href = "/search"><h1>Search</h1></a></inline>
        <inline><a href = "/random"><h1>Random</h1></a></inline>
        <script src="{%static 'js/scripts.js'%}"></script>

    </div>



    </div>
</body>


</html>